body{
    background-color: #B2ECE8;
}
div {
    border-style: solid;
    margin: 5px;
}
#third>p{
    visibility: hidden;
}
h1 {
    visibility: hidden;
}
#second .right {
    visibility: hidden;
}

.right img {
	visibility: visible;
}
